.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featureSvg {
	height: 200px;
	width: 200px;
}

.featureDescription {
	text-align: left;
}

.featureDescription h4 {
	margin-bottom: 0.35rem;
}

.docList {
	margin-bottom: 1rem;
	padding-left: 1.25rem;
}
